<html>
<head>  
    <script src="static/lib/jquery.min.js"></script>
    <script type="text/javascript" src="static/lib/socketio.js"></script>
    <script src="static/js/application.js"></script>
    
    <link rel='stylesheet' type='text/css' href="static/design.css"/>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
</head>

<body>
<h1 id="ss"> Essys V2X UI</h1> 
<div id="lights">
<div id="traffic-light">
  <div id="stopLight" class="bulb"></div>
  <div id="slowLight" class="bulb"></div>
  <div id="goLight" class="bulb"></div>
  <h3 id="time"> Signal 1 -> Remaing time is : <div id="sa"></div></h3>
</div>
  
  
<div id="traffic-light">
  <div id="stopLight" class="bulb"></div>
  <div id="slowLight" class="bulb"></div>
  <div id="goLight" class="bulb"></div>
  <h3 id="time"> Signal 2 -> Remaing time is :<div id="sb"></div></h3>
</div>
</div>
  
<div id="car">
  <div id="info"> 
      <h1> Car Info</h1>
      <img src="static/img/car.png" alt="not">
    
    </div>
</div>
</body>
</html>
